@using BankModel.Entities
@using JustBank.SessionInfo
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title JustBank </title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Content/Admin.css"/>    
        <link rel="stylesheet" href="~/Content/Site.css"/>    
        @Styles.Render("~/Content/css")        
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("JustBank", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Operations", "Operations")</li>
                            <li>@Html.ActionLink("Operations log", "OperationsLog", "Clients")
                            <li>@Html.ActionLink("Converter", "CurrencyConverter", "Home")</li>
                            <li>@Html.ActionLink("My info", "Index", "Clients")</li>
                            <li>@Html.ActionLink("Log out", "Logoff", "Account") </li>
                        </ul>
                      
                        <div class="border">
                            You are logged in as
                            @{
                                Client client = LogInInfo.LoggedInClient();
                                if (LogInInfo.LoggedInClient() != null)
                                {
                                    @String.Format("{0} {1}", client.FirstName, client.SecondName)
                                }
                                else
                                {
                                    Response.RedirectPermanent("~/Account/Login", false);
                                }
                            }
                        </div>

                        <div class ="border">
                            BankId(@client.State.BankId)
                            Bank Money(@client.State.BankMoney)
                            CardId(@client.State.CardId)
                            Card Money(@client.State.CardMoney)
                        </div>

                    </nav>
                </div>
            </div>
            
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - JustBank</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    </body>
</html>
