@model BankModel.Entities.Client

@{
    ViewBag.Title = "PutMoney";
    Layout = "~/Views/Clients/_Layout.cshtml";
}

<h2>Put money</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend></legend>

        <div>Bank Id: @Html.Editor("BankId")</div>
        <div>Sum: @Html.Editor("Sum")</div>

        <div><input type="submit" value="Put"/></div>
        <div>@ViewBag.Result</div>
    </fieldset>
}
@Html.ActionLink("<-- Back", "Operations", "Clients")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
