@model BankModel.Entities.Client
@{
    ViewBag.Title = "TransferMoneyFromBankIdToBankId";
    Layout = "~/Views/Clients/_Layout.cshtml";
}

<h2>Transfer money from BankId to BankId</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend></legend>

        <div>Bank Id: @Html.Editor("BankId")</div>
        <div>Bank Id To: @Html.Editor("BankIdTo")</div>
        <div>Sum: @Html.Editor("Sum")</div>

        <div><input type="submit" value="Transfer"/></div>
        <div>@ViewBag.Result</div>
       
    </fieldset>
}
@Html.ActionLink("<-- Back", "Operations", "Clients")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
