@model BankModel.Entities.Client
@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Client</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecondName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SecondName)
            @Html.ValidationMessageFor(model => model.SecondName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.AccountType,new SelectList(new List<Object>{ "Usual", "Premium"}))
            @Html.ValidationMessageFor(model => model.AccountType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State.PinCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State.PinCode)
            @Html.ValidationMessageFor(model => model.State.PinCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State.CardId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State.CardId)
            @Html.ValidationMessageFor(model => model.State.CardId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State.CardMoney)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State.CardMoney)
            @Html.ValidationMessageFor(model => model.State.CardMoney)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State.BankMoney)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State.BankMoney)
            @Html.ValidationMessageFor(model => model.State.BankMoney)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State.BankProcents)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State.BankProcents)
            @Html.ValidationMessageFor(model => model.State.BankProcents)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State.CreditMoney)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State.CreditMoney)
            @Html.ValidationMessageFor(model => model.State.CreditMoney)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State.CreditProcents)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State.CreditProcents)
            @Html.ValidationMessageFor(model => model.State.CreditProcents)
        </div>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back", "Index", "Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
