@{
    ViewBag.Title = "LoadDataTable";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2>Load data table</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div>
        @Html.RadioButton("Ext", "Xml", true) Xml
        @Html.RadioButton("Ext", "Json", false) Json
    </div>
    <div>
        @Html.RadioButton("Type", "Clients", true) Clients list
        @Html.RadioButton("Type", "Operations", false) Operations log
    </div>

    <div>
        File: @Html.TextBox("File")
        <input type="submit" value="Load"/>
    </div>

    <div class="message-success">
        @TempData["Show"]
    </div>
    <div>
        @Html.ActionLink("<-- Back", "Index", "Admin")
    </div>
}



